header {
    position: sticky;
    top: 0%;
    z-index: 2;
}

a{
    text-decoration: none;
}

.navbar {
    background-color: #111;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-link {
    transition: all 0.8s ease !important;
    font-size: 1.1rem;
    color: #E98416 !important;   
}
.nav-link:hover {
    color: #fabe56 !important;
}

.navbar-toggler-icon {
    color: #FF7800;
}