.img-producto-detalle{
    width:87%;
    height: 24rem;
}

.categoria{
    color:rgb(255, 123, 0);
}

.indice{
    padding-left: 12px;
}
.indice-item{
    transition: all 0.7s ease;
    text-decoration: none;
    color: #848484;
}
.indice-item:hover{
    color:rgb(255, 123, 0);
}