
input[type=file]::file-selector-button {
    border: 2px solid #F18518;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #F18518;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
    background-color: #F3E730;
    border: 2px solid #F18518;
}

