<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" >
    <body>
        <main layout:fragment="main">
            <div class="container about-p mt-5">
                <div class="card p-5 contenedor1">
                    <div class="card-body">
                        <h3 class="card-title text-white">
                            <bold><em>Historia</em></bold>
                        </h3>
                        ​
                        <p class="card-text text-white">Creada en el año xxxx por …….. ……….., con esfuerzo y dedicación de nuestros
                            primeros
                            fundadores, gracias a la toma de buenas decisiones, constancia, a la calidad de nuestros productos y a
                            la calidad de atención brindada a nuestros clientes logramos posicionarnos como una de las mejores
                            empresa en el rubro </p>
                        ​
                    </div>
                </div>
                ​
                <div class="card p-5 contenedor2">
                    <div class="card-body">
                        <h3 class="card-title">
                            <bold><em>Personal</em> </bold>
                        </h3>
                        ​
                        <p class="card-text text-gray">Nuestro personal cuenta con una capacitación intensa sobre los distintos
                            tipos de productos y
                            sus funcionamientos en sus distintos sectores. Cuentan también una capacitación para una buena atención
                            al público en caso de nuestros vendedores. Contamos con un excelente departamento de RRHH que está
                            constantemente atentos en capacitar a todos nuestros empleados a medida que sea necesario </p>
                        ​
                    </div>
                </div>
                ​
                <div class="card p-5 contenedor3">
                    <div class="card-body">
                        <h3 class="card-title">
                            <bold><em>Marcas Asociadas</em> </bold>
                        </h3>

                        <p class="card-text .text-black-50">Gracias a nuestra excelente ética laboral y capacidad de nuestros empleados
                            hoy contamos con la confianza de las mejores marcas que nos brindan los productos de las mejores
                            calidades disponible. Estas capacitan a nuestros empleados en el funcionamiento y manejo de los exlentes y gran calidad deproductos que estos nos brindan.</p>
                        ​
                    </div>
                </div>
            </div>           
        </main>
    </body>
</html>
