<!DOCTYPE html>

<html  lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

    <body>
        <main layout:fragment="main">



            <div class="container">
                <div >
                    <form th:action="@{/producto/buscarProducto}" method="GET" >

                        <p>
                        <h3 class="text-center mb-4">Buscar Productos</h3>

                        <input class="form-control col-md-4 " list="listaProductos"  name="nombrep"/>
                        <datalist id="listaProductos">
                            <select  id="producto-list">
                                <option  
                                    th:each="pepe : ${productosBuscados}"
                                    th:value="${pepe.nombre}"
                                    >

                                </option>


                            </select> 
                        </datalist><br>
                        <button type="submit" th:text="Buscar" class="bi bi-search btn btn-dark">  
>
                            <i class="bi bi-search"></i>
                        </button>  

                        </p>

                    </form>
                    <div th:if='${!productos.isEmpty()}' th:replace="producto-layout :: producto-layout('Resultado', ${productos})"></div><br>
                    <div th:if='${error != null}' th:text="${error}"></div>
                </div>
            </div>

        </main>


    </body>
</html>

