<!doctype html>
<html <html lang="en" layout:decorate="~{layout}">
    
    <body style="background-color: #F4E72D">
        <main layout:fragment="main">
            <div class="banner">
                <div class="container col-md-5 wrapper pt-5">

                    <div class="card mx-3 mt-n5 shadow-lg" style="border-radius:0px; border:none">
                        <div class="card-body pt-5">
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <h1 th:text="${titulo}"></h1>
                                        <p>Le enviaremos un correo electrónico con más instrucciones</p>
                                        <p th:text="${success}"></p>
                                        <p th:text="${error}"></p>
                                        <div th:action="@{/cambiar_email/save}" method="POST" class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingEmailInput" placeholder="name@example.com">
                                            <label for="floatingEmailInput">Correo electrónico</label>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-dark">Enviar correo</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </main>
        
    </body>
</html>

