<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Carrito</title>
    </head>
    <body>
        <main layout:fragment="main">
            <div class="container">
                <div class="row">
                    <h2 class="mt-5">Carrito</h2>
                    <hr/>
                </div>
                <div th:if="${carrito.isEmpty()}" class="row">
                    <div  class="col-auto">
                        <img src="https://www.pngkey.com/png/detail/411-4119504_el-carrito-de-la-compra-est-vaco-shopping.png" width="200" height="200" alt="fotos-perfil"/>
                        <h4 style="color: red">Su carrito esta vacio</h4>
                    </div>
                </div>
                <div th:if="${!carrito.isEmpty()}" class="row m-1">
                    <div class="col-sm-8">
                        <th:block th:each="c, index : ${carrito}">
                            <div class="row border rounded" th:id="'row'+${index.count}">
                                <div class="col-1">
                                    <div th:text="${index.count}" class="mt-1"></div>
                                    <div>
                                        <a class="link-remove" th:rowNumber="${index.count}" th:href="@{'/carrito/eliminar/'+ ${c.producto.id} }">
                                            <i class="fas fa-trash" style="color: red"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img src="http://d3ugyf2ht6aenh.cloudfront.net/stores/001/127/623/products/cd121k_11-aaff0495a0a8b57e1c15941669028233-640-0.jpg" alt="foto-prod" class="img-fluid"/>
                                </div>
                                <div class="col-6 mt-2">
                                    <div>
                                        <b th:text="${c.producto.nombre}"></b>
                                    </div>
                                    <div th:replace="control-de-cantidad :: control-de-cantidad(${c.cantidad},${c.producto.id})">
                                        Cantidad
                                    </div>
                                    <div>
                                        <span>X</span>
                                        <span th:text="${c.producto.precio} + ' = '"></span>
                                        <span th:id="'subtotal'+${c.producto.id}  " class="subtotalProd" th:text="${c.subtotal}"></span>
                                    </div>
                                    <p hidden id="carritoItem-stock" th:text="${c.producto.stock}"></p>
                                </div>
                            </div>
                            <div class="row mt-1"></div>
                        </th:block>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <span class="h3">Total</span>
                        </div>
                        <div class="mt-2">
                            <span class="h2" id="cantidadTotal"></span>
                        </div>
                        <div class="mt-2">
                            <form th:action="@{/pedido/save}" method="POST">
                                <button type="sumbit" class="btn btn-success p-3 mt-2">pagar</button>
                            </form>
                        </div>
                    </div>

                </div>
                
                <p hidden id="success-pay" th:if="${success != null}" th:text="${success}"></p>
                <p hidden id="error-pay" th:if="${error != null}" th:text="${error}"></p>
            </div>
        </main>
        <div layout:fragment="scripts">
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script type="text/javascript">
                var crsfHeaderName = "[[${_csrf.headerName}]]";
                var crsfValue = "[[${_csrf.token}]]";
            </script>
            <script src="/javascript/carrito.js"></script>
        </div>
    </body>
</html>

