<!doctype html>
<html lang="en">
 
    <body>
        <main>
            <div class="container">
                <div class="row mt-5">
                    <div class="col">
                        <h1>Envianos un mensaje</h1>
                        <p th:text="${success}" style="color: green"></p>
                        <p th:text="${error}" style="color: red"></p>
                        <form th:action="@{/contacto/enviar}" method="POST">
                            <input type="text" name="nombre" placeholder="nombre y apellido">                   
                            <br>
                            <br>
                            <input type="email" name="email" placeholder="email@gmail.com">                   
                            <br>
                            <br>
                            <input type="text" name="asunto" placeholder="asunto">                   
                            <br>
                            <br>
                            <input type="text" name="contenido" placeholder="contenido">                   
                            <br>
                            <br>
                            <input type="submit">
                        </form>
                    </div>
                </div>
            </div>

        </main>
    </body>
</html>
