<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" >
    <body>
        <main layout:fragment="main">
            <div class="container mt-5 mb-5">
                <div class="row text-center">
                    <div class="col-xl-3 col-lg-3 col-0"></div>
                    <div class="col-xl-6 col-lg-6 col-12 box-error text-white pt-5 pb-5">
                        <h1 class="error-text" th:text="${codigo}">404</h1>
                        <h4 class="pb-4" th:text="${explicacion}">El recurso solicitado no existe</h4>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-0"></div>
                </div>
            </div>
        </main>

    </body>
</html>
