<!doctype html>
<html lang="en" layout:decorate="~{layout}">
    <body>
        <main layout:fragment="main">
            <div class="banner">
                <div class="container col-md-5 wrapper pt-5">

                    <div class="card mx-3 mt-n5 shadow-lg" style="border-radius:0px; border:none">
                        <div class="card-body pt-5">
                            <h2 th:text="${titulo}" class="card-title mb-3 text-center text-uppercase" style="font-weight:700"></h2>                       
                            <p>Le enviaremos un correo electrónico con más instrucciones sobre cómo restablecer su contraseña</p>               
                            <form th:action="@{/forgot_password/save}" method="POST">
                                <div class="row">
                                    <div class="col">
                                        <div class="mt-1">
                                            <p
                                                th:if="${error != null}"                               
                                                class="msg-error pt-2 pb-2"
                                                >
                                                <span class="ms-2" th:text="${error}"></span>
                                            </p>
                                        </div>                                           
                                        <div class="mt-1">
                                            <p
                                                hidden
                                                id="success-forgot-password"
                                                th:if="${success != null}"                              
                                                th:text="${success}"
                                                ></p>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="email" name="email" class="form-control" id="floatingEmailInput" placeholder="name@example.com">
                                            <label for="floatingEmailInput">Correo electrónico</label>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-dark">Enviar correo</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
