<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <main layout:fragment="main">
      <!-- prueba carousel-->
            <!-- primera vista-->
            <div class="container">
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            
                            <div class="container-fluid">
                                <div class="row">
                
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <div class="row">
                                         <div th:replace="producto-layout :: producto-layout('Últimos ingresos', ${productosRecientes})"></div>
                                        </div>
                                        <br>
                                    </div>                
                                </div>
                                <br>
                            </div>
                        </div>

                        <!-- segunda vista-->
          <div class="carousel-item">
           
            <div class="container-fluid">
              <div class="row">
                
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <div class="row">
                    <div th:replace="producto-layout :: producto-layout('Más vendidos', ${productosMasVendidos})"></div>
                  </div>
                  <br>
                </div>                
              </div>
<br>
            </div>
        </div>

                        <!-- tercera vista-->
          <div class="carousel-item">
           
            <div class="container-fluid">
              <div class="row">
                
                <div class="d-flex flex-column justify-content-center align-items-center">
                  <div class="row">
                    <div th:replace="producto-layout :: producto-layout('Últimas unidades', ${ultimasUnidades})"></div>
                  </div>
                  <br>
                </div>                
              </div>
<br>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
                     
            <div class="container mt-5">
                <div th:replace="carrusel-productos-layout :: carrusel-productos-layout('Ultimos Agregados', ${productos})"></div>

            </div>

        </main>
        <div layout:fragment="scripts">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
                    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous"></script>
            <script>
                $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 15,
                nav: true,
                responsive: {
                0: {
                items: 1
                },
                250: {
                items: 2
                },
                500: {
                items: 3
                },
                750: {
                items: 4
                },
                1000: {
                items: 5
                }
                }
                })
            </script>
        </div>
    </body>
</html>

