<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title>HardwareStore</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet"
            />
        <!-- Fonts -->
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/index.css}" >
        <link rel="stylesheet" th:href="@{/css/navbar.css}" >
        <link rel="stylesheet" th:href="@{/css/footer.css}" >
        <link rel="stylesheet" th:href="@{/css/login.css}" >
        <link rel="stylesheet" th:href="@{/css/tablas.css}" >
        <link rel="stylesheet" th:href="@{/css/producto.css}" >
        <link rel="stylesheet" th:href="@{/css/producto-detalle.css}" >
        <link rel="stylesheet" th:href="@{/css/formulario.css}" >

    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="/">HardwareStore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span <i class="bi bi-list"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/producto/productos">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sobre_nosotros">Sobre Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contacto">Donde comprar</a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/carrito"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle ms-2" href="#" id="navbarDarkDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-center" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" th:if="${session.usuario == null}" href="/login">Iniciar session</a></li>
                                    <li><a class="dropdown-item" th:if="${session.usuario != null}" href="/usuario">Mi cuenta</a></li>
                                    <li><a class="dropdown-item" th:if="${session.usuario != null}">
                                            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                                                <button  type="submit" class="btn text-danger">Salir <i class="fa fa-arrow-right"></i></button>
                                            </form></a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle me-5" id="navbarDarkDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-toolbox"></i>
                                </a>
                                <ul sec:authorize="hasRole('ADMINISTRADOR')" class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">                            
                                    <li><a class="dropdown-item" href="/usuario/list">Usuarios</a></li>
                                    <li><a class="dropdown-item" href="/pedido/list">Pedidos</a></li>
                                    <li><a class="dropdown-item" href="/producto/list">Productos</a></li>
                                    <li><a class="dropdown-item" href="/categoria/list">Categorias</a></li>
                                    <li><a class="dropdown-item" href="/marca/list">Marcas</a></li>
                                </ul>
                            </li>
                            <li class="nav-item ms-5"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Categorías
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="categorias">
                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item"> | </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Marcas
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="marcas">
                                        
                                    </ul>
                                </div>
                            </li>

                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <main layout:fragment="main">
            <p>Contenido por defecto</p>
        </main>
        <footer class="text-center text-lg-start text-muted">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Seguinos en:</span>
                </div>
                <!-- Left -->

                <!-- Right -->
                <div>
                    <a href="https://www.facebook.com/" class="icon">
                        <i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/?cc=ar" class="icon">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com" class="icon">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/?gl=US" class="icon">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <div class="container-fluid info-footer pt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Col -->
                    <div class="col-md-0 col-xl-1"></div>
                    <!-- Col -->
                    <div class="col-md-12 col-lg-12 col-xl-2 mb-5">
                        <img src="Media/austromex.webp"  alt="logo"
                             class="logo-footer mt-4">
                    </div>
                    <!-- Col -->
                    <div class="col-md-12 col-xl-2 text-center mb-5">
                        <h6 class="text-uppercase fw-bold mb-4">
                            MI CUENTA
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Mi perfil</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Mi carrito</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Mis compras</a>
                        </p>
                    </div>
                    <!-- Col -->
                    <div class="col-md-12 col-xl-3 text-center mb-5">
                        <h6 class="text-uppercase fw-bold mb-4">
                            EMPRESA
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Home</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Productos</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Sobre Nosotros</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Donde comprar</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Ayuda</a>
                        </p>
                    </div>


                    <!-- Col -->
                    <div class="col-md-12 col-xl-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            CONTACTO
                        </h6>
                        <p><i class="fas fa-home me-3"></i> 25 de Mayo 1365, San Miguel de Tucumán, Argentina</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            ferreteriaGrupo2@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 54 381 458 7458</p>
                        <p><i class="fas fa-print me-3"></i> + 54 381 345 4785</p>
                    </div>
                </div>
                <!-- Grid row -->
            </div>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
        </footer>

        <div layout:fragment="scripts">
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/c3a49e1200.js" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/javascript/sweetalert.js"></script>
        <script src="/javascript/boton-de-catalogo.js"></script>
    </body>

</html>