<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        <table border="1">
            
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Dar de baja</th>
                    <th>Alta</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="categoria, contador : ${listaDeCategorias}">
                    <td th:text="${contador.count}"></td>
                    <td th:text="${categoria.nombre}"></td>
                    <td> <a th:href="@{/categoria/modificar(id=${categoria.id})}" th:text="Editar"></a></td>
                    <td><a th:href="@{/categoria/baja(id=${categoria.id})}" th:text="Eliminar"></a></td>
                    <td><a th:href="@{/categoria/alta(id=${categoria.id})}" th:text="Alta"></a></td>
                </tr>
            </tbody>
            
        </table>
        
    </body>
</html>
