<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Lista de pedidos</div>
        
         <table border="1">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>ID del pedido</th>
                    <th>Usuario del pedido</th>
                    <th>Fecha del pedido</th>
                    <th>Precio final</th>
                    <th>Estado</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="pedido, contador : ${pedidos}">
                    <td th:text="${contador.count}"></td>
                    <td th:text="${pedido.id}"></td>
                    <td th:text="${pedido.usuario.email}"></td>
                    <td th:text="${pedido.fecha}"></td>
                    <td th:text="${pedido.total}"></td>
                    <td th:text="${pedido.estado}"></td>
                    <td><a th:href="@{/pedido/detalle(detalle=${pedido.detalle},total=${pedido.total})}" th:text="Detalles"></a></td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>
