<!doctype html>
<html lang="en" layout:decorate="~{layout}">
    
    <body style="background-color: #F4E72D">
        <main layout:fragment="main">
            <div class="container">
                <div class="row mt-5">
                    <div class="col">
                        <img th:src="@{/imagenes/clientes.png}" class="img-fluid">
                    </div>
                    <div class="col">
                        <h1>¡Bienvenido!</h1>
                        <br>
                        <form th:action="@{/logincheck}" method="POST">
                            <div class="mb-4">
                                <label for="email" class="form-label">Correo electrónico:</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="mb-4">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" name="password">
                                <br>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">Iniciar sesión</button>
                                </div>
                                <div class="my-3">
                                    <span>No tienes cuenta? <a th:href="@{/usuario/form}">Regístrese aquí</a></span>  
                                    <br>
                                    <span> <a th:href="@{/forgot_password}">Olvidó su contraseña?<a/></span>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>
       
    </body>
</html>