<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Aqui va toda la info del pedido</div>
        
        <table border="1">
            
            <thead>
                <tr>
                    <th>N°</th>
                    
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="carrito, contador : ${listaDeItems}">
                    <td th:text="${contador.count}"></td>
                    
                    <td th:text="${carrito.producto.nombre}"></td>
                    <td th:text="${carrito.cantidad}"></td>
                    <td th:text="${carrito.subtotal}"></td>
                </tr>
                <tr>
                    <td>TOTAL A PAGAR</td>
                    <td th:text="${pedido.total}"></td>
                </tr>
            </tbody>
            
        </table>
        
    </body>
</html>
