<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main layout:fragment="main">
            <main>
                <div th:if="${!pedidos.isEmpty()}" class="container mt-4 mb-5">
                    <h2>Mis Pedidos</h2>
                    <div class="row table-shadow bg-dark pt-3 pb-3 text-white">
                        <div class="col-xl-4 col-lg-5">Id</div>
                        <div class="col-xl-2 col-lg-2">Fecha</div>
                        <div class="col-xl-2 col-lg-2">Precio Final</div>
                        <div class="col-xl-3 col-lg-2">Estado</div>
                        <div class="col-xl-1 col-lg-1">Detalle</div>
                    </div>
                    <div class="row table-shadow" th:each="pedido : ${pedidos}">
                        <div class="col-xl-4 col-lg-5 pt-3 pb-1" th:text="${pedido.id}"></div>
                        <div class="col-xl-2 col-lg-2 pt-3 pb-1" th:text="${pedido.fecha}"></div>
                        <div class="col-xl-2 col-lg-2 pt-3 pb-1 text-success" th:text="${pedido.total} + '$'"></div>
                        <div class="col-xl-3 col-lg-2 pt-3 pb-1" th:text="${pedido.estado}"></div>
                        <div class="col-xl-1 col-lg-1 pt-2 pb-2">
                            <a th:href="@{/pedido/detalle(detalle=${pedido.detalle},total=${pedido.total})}" >
                                <button class="btn btn-secondary">
                                    <i class="fas fa-info"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row table-bottom pt-3 pb-4"></div>
                    <div th:replace="paginacion-layout :: paginacion-layout('pedido/usuario',${actual},${siguiente},${anterior},${ultima})"></div>
                    <br>
                    <a class="text-warning" th:href="@{/usuario}"><i class="fas fa-arrow-left"></i> Volver al perfil</a>
                </div>
            </main>
        </main>

    </body>
</html>
