<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <main layout:fragment="main">
            <div class="container">
                <div class="row mt-5">             
                    <h5 th:text="${producto.nombre}"></h5> 
                </div>
                <div class="row">
                    <div class="col-3">
                        <img style="border: 1px solid" th:src="${producto.img}" width="100" height="100"/>
                    </div>
                </div>
                <div class="row">
                    <h5 th:text="${producto.precio} + '$'" style="color: green"></h5>          
                </div>
                <div class="row">
                    <div class="col-3">
                        <div th:replace="control-de-cantidad :: control-de-cantidad(1,${producto.id})">
                            Cantidad
                        </div>
                        <button class="btn btn-primary" id="buttonAddToCart">añadir al carrito</button>        
                    </div>
                </div>
            </div>

        </main>
        <div layout:fragment="scripts">
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script type="text/javascript">
                var crsfHeaderName = "[[${_csrf.headerName}]]";
                var crsfValue = "[[${_csrf.token}]]";
                var productoId = "[[${producto.id}]]";
            </script>
            <script src="/javascript/control-de-cantidad.js"></script>
            <script src="/javascript/añadir-al-carrito.js"></script>
        </div>
    </body>
</html>
