<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main layout:fragment="main">
            <!--Barra de busqueda-->
            <div class="container mt-5">
                <form th:action="@{/producto/buscarProducto}" method="GET">
                    <div class="row">
                        <div class="col-11">
                            <input class="form-control col-md-4 " type="text" name="nombrep"/>                       
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-dark">                                
                                <i class="bi bi-search"></i>
                            </button>
                        </div>                        
                    </div>
                </form>
                <div th:if='${!productosBuscados.isEmpty()}' class="mt-4">
                    <div th:replace="producto-layout :: producto-layout('Resultado', ${productosBuscados})"></div>
                </div>
                <div th:if='${error != null}' th:text="${error}"></div>
            </div>
             <!--Barra de busqueda-->
              <!--Productos-->
            <div th:if='${productosBuscados.isEmpty()}' class="container">
                <br>
                <div th:replace="producto-layout :: producto-layout('Todos los productos', ${productos})"></div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <nav aria-label="Pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item" th:classappend="${anterior < 0} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{|?page=${anterior}|}">Anterior</a>
                                </li>
                                <li class="page-item" th:each="pagina : ${paginas}" th:classappend="${actual == pagina-1 ? 'active' : ''}">
                                    <a class="page-link" th:href="@{|?page=${pagina-1}|}" th:text="${pagina}"></a>
                                </li>
                                <li class="page-item" th:classappend="${actual == ultima} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{|?page=${siguiente}|}">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
        </main>
    </body>
</html>
