<!doctype html>
<html lang="en" layout:decorate="~{layout}">
    <body>
        <main layout:fragment="main">
            <div class="container formulario mt-5">            
                <div class="card form-body pt-4">
                    <h1 th:text="${titulo}"></h1>
                    <form th:action="@{/cambiar_email/form}" method="POST">
                        <div class="mt-1">
                            <p
                                th:if="${error != null}"                               
                                class="msg-error pt-2 pb-2"
                                >
                                <span class="ms-2" th:text="${error}"></span>
                            </p>
                        </div>                                           
                        <div class="mt-1">
                            <p
                                hidden
                                id="success-actualizar-email"
                                th:if="${success != null}"                              
                                th:text="${success}"
                                ></p>
                        </div>
                        <input type="hidden" name="token" th:value="${token}"/>
                        <input type="email" name="email" class="form-control" placeholder="Nuevo email">

                        <button type="submit" class="btn btn-dark w-100 mt-3">Enviar</button>                      
                    </form>
                </div>
            </div>

        </main>
    </body>
</html>
