<!doctype html>
<html lang="en" layout:decorate="~{layout}">

    <body style="background-color: #F4E72D">
        <main layout:fragment="main">
            <div class="container col-md-5 wrapper pt-5">
                <div class="row mt-5">
                    <div class="col">
                        <h1 th:text="${titulo}">Registrar Usuario</h1>
                        <hr>
                        <!--Verifico si tengo errores-->
                        <span th:if="${error != null }" th:text="${error}" style="color:red"></span>
                        <!--Verifico si me registre de forma exitosa-->
                        <span th:if="${success != null }" th:text="${success}" style="color:green"></span>
                        <!--Peticion HTTP POST-->
                        <form th:action="@{/usuario/registro}" method="POST" enctype="multipart/form-data" th:object="${usuario}">
                            <input hidden th:field="*{id}">

                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                                </div>
                                <input type="text" th:field="${usuario.username}" class="form-control"  placeholder="Nombre de usuario">
                            </div>

                            <span th:if="${usuario.id == null || usuario.id.isEmpty()}"></span>
                            <br>
                            <span th:if="${usuario.id == null || usuario.id.isEmpty()}"></span>

                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                </div>
                                <input type="email" th:if="${usuario.id == null || usuario.id.isEmpty()}" class="form-control" th:field="${usuario.email}" placeholder="Correo electrónico">
                            </div>

                            <span th:if="${usuario.id == null || usuario.id.isEmpty()}"></span>
                            <br>
                            <span th:if="${usuario.id == null || usuario.id.isEmpty()}"></span>

                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                </div>
                                <input type="password" th:if="${usuario.id == null || usuario.id.isEmpty()}" th:field="${usuario.password}" class="form-control" placeholder="Contraseña">
                            </div>

                            <span th:if="${usuario.id == null || usuario.id.isEmpty()}"></span>
                            <br>
                            <span th:if="${usuario.id == null || usuario.id.isEmpty()}"></span>


                        <div class="input-group" th:if="${usuario.id == null || usuario.id.isEmpty()}">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                            </div>
                            <input type="password"  name="password2" class="form-control" placeholder="Confirmar contraseña">
                        </div>
                        <br>
                        <input type="file" class="form-control"  id="fileUpload" name="file">  

                        <br>
                        <div>
                            <button type="submit" class="btn btn-login w-100" th:text="${usuario.id == null || usuario.id.isEmpty() ? 'Enviar' : 'Editar'}"></button>
                        </div>
                       
                    </form>
                </div>
            </div>
        </main>

    </body>
</html>
