<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                background-color: #F4E72D;
            }
            input{
                border: 2px solid #F18518;
                padding: .2em .4em;
                border-radius: .2em;
                background-color: #F18518;
                transition: 1s;
            }
        </style>
    </head>
    <body>

        <main layout:fragment="main">

            <div class="container col-md-5 wrapper pt-5">
                <!--Si me autentico/login muesta el nombre del usuario-->
                <p sec:authorize="isAuthenticated()">
                <h1 class="display-3" th:text="'Bienvenido '+ ${u.username} +'!'"></h1> 
                <div class="row mt-5">
                    <div class="col">
                        <div>
                            <img sec:authorize="isAuthenticated()" th:if="${u.foto != null}" th:src="@{/foto/usuario(idUsuario=${u.id})}" alt="foto-perfil" width="300" class="rounded-circle">
                            <img sec:authorize="isAuthenticated()" th:if="${u.foto == null}" src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg" alt="foto-perfil" height="100" width="100">
                        </div>
                    </div>
                    <div class="col">
                        <br>
                        <h2> Tu información</h2>
                        <span class="text-secondary">Correo electrónico</span>
                        <p sec:authentication="name"></p>
                        <span class="text-secondary">Rol </span>
                        <p th:text="${u.rol}"></p>
                        <p><a th:href="@{/usuario/form(usuarioId=${u.id})}"><button class="btn btn-light">Editar usuario</button></a></p>
                        <p><a th:href="@{/cambiar_email}"><button class="btn btn-light">Editar email</button></a></p>
                        <p><a th:href="@{/forgot_password}"><button class="btn btn-light">Editar contraseña</button></a></p>
                        <p><a th:href="@{/pedido/usuario}"><button class="btn btn-secondary">Mis pedidos</button></a></p>


                        <!--Me desconecto de mi cuenta logeada-->
                        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                            <input type="submit" value="Log out">
                        </form>
                    </div>
                </div>
            </div>


        </main>
    </body>
</html>
